﻿
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
a:hover{
text-decoration: none;
}
:focus {
outline: 0;
}
*{
margin:0;
padding:0;
}
html{
 height:100%;
}
 body{
font-family:Arial,Tahoma, sans-serif;
width:100%;
height:100%;
 }
 ul{list-style-type:none;}

 h2{
 font-size: 22px;
 color: #000;
 }

 #wrap{
 width: 940px;
 margin: 0 auto;
 }
 .logo{
 float:left;
 margin: 70px 0 0 0;
 font-size: 60px;
 color: #ececec;
 text-decoration: none;
 }
 #header{
 width: 940px;
height: 185px;
 background: url(../../img/gui/border.png) 0 100% no-repeat;
 }
 .search{
 float:right;
 margin: 80px 0 0 0;
 }
 .search input[type="text"]{
 float:left;
 width: 158px;
 height: 20px;
 line-height: 20px;
 padding: 10px;
 background: #efefef;
 border-top: 1px solid #b4b4b4;
 border-left: 1px solid #b4b4b4;
 border-right: none;
 border-bottom: none;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .search input[type="submit"]{
 float:right;
 padding: 6px 15px;
 background: #7f7f7f;
 color:#fcfcfc;
 font-size: 18px;
 font-weight: bold;
 cursor:pointer;
 border:none;
 margin: 4px 0 0 12px;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
.top_menu{
    width: 100%;
    padding: 20px 0;
}
.top_menu li{
    float:left;
    margin: 0 30px 0 0;
}
.top_menu li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #c6c6c6;
}
.top_menu .active a{color:#000;}

#main{
margin: 90px 0 0 0;
}
.left-column{
float:left;
width:440px;
}
.right-column{
float:right;
width: 440px;
}
.file{
float:left;
width: 440px;
margin: 0 0 40px 0;
}
#main form {
	position:relative; /* чтобы можно было позиционировать абсолютно элементы внутри формы */
	padding:0;
	margin:0;
}
  .mask {
	width:162px; /* Эти значения чисто из-за особенностей моего рисунка */
	height:39px;
	padding:3px 100px 0 10px;
	background: url(../../img/gui/file.png) no-repeat 0 0;
	
}
.fileInput {
	width:393px; /* вот незадача, FF не хочет задавать ширину, для этого зададим size */
	height:39px;
	position:absolute;/* позиционируем настоящий input type=file */
	left:0;
	top:0;
	opacity: 0;/* задаем нулевую видимость */
	filter:alpha(opacity=0);
	cursor:pointer;
}
.fileInputText {
	border:none;
	width:100%;
	font-size:14px;
	background:none;
	margin:8px 0 0 0;
	cursor:pointer;
}
 .file input[type="button"]{
position: absolute;
top:4px;
right:50px;
 padding: 6px 25px;
 background:url(../../img/gui/bg_button.png) 0 0 repeat-x;
 color:#fcfcfc;
 font-size: 17px;
 font-weight: bold;
 cursor:pointer;
 border:none;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .left-column p,.right-column p{
 font-size:16px;
 color:#000;
 }

 .tab1{
 width:215px;
 border:1px solid #000;
 font-size:14px;
 color:#000;
 text-align:center;
 }
 .tab1 tr td{
 padding: 2px 0;
 border-bottom: 1px solid #d7d7d7;
 }
.tab1 tr:nth-child(2n) {
 background: #eaeaea; 
} 
 .tab1 tr:nth-child(2n+1) {
 background: #fff; 
} 
