﻿
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
a:hover{
text-decoration: none;
}
:focus {
outline: 0;
}
*{
margin:0;
padding:0;
}
html{
 height:100%;
}
 body{
font-family:Arial,Tahoma, sans-serif;
width:100%;
height:100%;
 }
 ul{list-style-type:none;}

 h2{
 font-size: 22px;
 color: #000;
 }

 #wrap{
 width: 940px;
 margin: 0 auto;
 }
 .logo{
 float:left;
 margin: 70px 0 0 0;
 font-size: 60px;
 color: #ececec;
 text-decoration: none;
 }
 #header{
 width: 940px;
height: 185px;
 background: url(../../img/gui/border.png) 0 100% no-repeat;
 }
 .search{
 float:right;
 margin: 80px 0 0 0;
 }
 .search input[type="text"]{
 float:left;
 width: 158px;
 height: 20px;
 line-height: 20px;
 padding: 10px;
 background: #efefef;
 border-top: 1px solid #b4b4b4;
 border-left: 1px solid #b4b4b4;
 border-right: none;
 border-bottom: none;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .search input[type="submit"]{
 float:right;
 padding: 6px 15px;
 background: #7f7f7f;
 color:#fcfcfc;
 font-size: 18px;
 font-weight: bold;
 cursor:pointer;
 border:none;
 margin: 4px 0 0 12px;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .top_menu{
 width: 100%;
 padding: 20px 0;
 }
 .top_menu li{
 float:left;
 margin: 0 30px 0 0;
 }
 .top_menu li a{
 font-size: 18px;
 font-weight: bold;
 text-decoration: none;
 color: #c6c6c6;
 }
.top_menu .active a{color:#000;}

#main{
margin: 90px 0 0 0;
}
.range{
float:left;
width: 100%;
}
.range label{
font-size:18px;
color:#000;
}
.range input[type="text"]{
 width: 160px;
 height: 20px;
 line-height: 20px;
 padding: 10px;
 background: #efefef;
 border-top: 1px solid #b4b4b4;
 border-left: 1px solid #b4b4b4;
 border-right: none;
 border-bottom: none;
 margin: 0 4px;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .range input[type="button"]{
 padding: 6px 15px;
 background: #7f7f7f;
 color:#fcfcfc;
 font-size: 18px;
 font-weight: bold;
 cursor:pointer;
 border:none;
 margin: 4px 0 0 12px;
  -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 }
 .tab2{
 float:left;
 margin: 30px 0 0 0;
 width: 660px;
 border-top: 1px solid #000;
 border-bottom: 1px solid #000;
 }

  .tab2 tr td{
  font-size: 14px;
  padding: 4px 0;
  vertical-align:middle;
   border-bottom: 1px solid #d5d5d5;
  }
  .gray{
  font-size: 18px;
  color: #747474;
  }
 .gray.bold{font-weight:bold;}
  .min_text{
  display:block;
  font-size:8px;
  color: #747474;
  }
  .indent{padding-left:25px;}