html, body {height: 100%;}
	
body {
	background-color: #FFFFFF; 
	
/*  	background:  url(images/main-page.jpg) 0 0 no-repeat; 
 */

    font-family: arial, verdana, sans-serif;
    font-size: 10pt;

	margin:0;	padding:0;
}
 a:hover{text-decoration: none;}
#page {
    margin-left: auto; 
    margin-right: auto;
    width: 1000px;
	position: relative;
}
#header, #content, #navbar, #sidebar-left, #sidebar-right, #footer, #closure-blocks {
    overflow: visible;
    word-wrap: break-word;
}

#header, #header-inner
{
	height:184px;
    width: 1000px;
}
#header
{
	background: url(../img/gui/header-inner.jpg) bottom left no-repeat ;
}
#header-inner
{
	background: url(../img/gui/header.jpg) 100% 0 no-repeat ;
}
#support
{
	padding-top: 32px;
	float:left;
}
#navbar {
	padding-top: 82px;
	padding-left: 50px;
	overflow: hidden;
}
#navbar ul {
	list-style: disc url(../img/gui/bullet.gif) inside;
	margin: 0;
	padding: 0px;  
}
#navbar li {
 display: inline; 
 background:url(../img/gui/bullet.gif) no-repeat center left;
 padding-left:20px;
}
#navbar li.first{
 display: inline; 
 background:none;
}
#navbar a:link, #navbar a:visited,
#sidebar-left a:link, #sidebar-left a:visited 
 {
	padding: 5px 0;
	color: #9D9D9D;
	text-decoration: none;
}

#main {
    position: relative;
}
#catalog {
    margin-left: 250px;
    margin-right: -1000px;
    width: 800px;
	float: left;
}

#sidebar-left {
    width: 250px;
	float: left;
    margin-left: 0;
    margin-right: -250px;
    padding: 0;
}



#support, #navbar, #sidebar-left ul
{
	font-size : 12px ;
	letter-spacing : 0px;
	font-weight : 600; 
}

#sidebar-left .header
{
	margin:34px 0 10px 14px;
	font-size : 14px ;
	font-weight : 600;
}

#sidebar-left ul 
{
	list-style: none;
	margin: 0 0 0 14px;
	padding: 0;
}

#sidebar-left ul  li
{
	padding-bottom: 10px;
}
#sidebar-left ul ul  li.first
{
	padding-top: 10px;
}

 #sidebar-left ul
 {
 	font-weight : normal;
	letter-spacing : -1px;
 }
 
#sidebar-left ul a:link, #sidebar-left ul a:visited 
 {
	padding: 10px 0;
	text-decoration: none;
}

#sidebar-left ul.submenu
{
	display:none;
}

#catalog h1.title
{
	display:none;
}
#footer 
{
	position: relative;
	clear:both;
}
.catalog_item
{
	width:172px;
	height:205px;
	float:left;
	text-align: center;
}
.catalog_item-inner
{
	width:150px;
	margin: 0 auto;
}

.rating
{
	height:15px;
	width:50%;
	background: url(../img/gui/rating.gif) 0 0 no-repeat ;
	margin: 0 auto;
}

.catalog_item img
{
	margin: 0 auto;
}
.catalog_item h2 a
{
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.catalog_item h2,
.catalog_item p 
{
	margin:0;
	padding:0;
	line-height: 14px;
}
.catalog_item p 
{
	margin-top:3px;
}
#catalog-inner
{
	margin-top:35px;
}


#registration
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}
#registration-inner
{
	width:440px;
	height:350px;
	margin: 250px auto;
	overflow:hidden;
	/* background: pink url(images/header.jpg) 120% -50% no-repeat ; */
	background: white url(../img/gui/header-inner.jpg) -550px 100px no-repeat;
	border:1px solid #9D9D9D;
	
}
#registration-inner  .header
{
	width:440px;
	height:120px;
	background: url("../img/gui/header.jpg") no-repeat scroll 325px -70px transparent;
	padding:60px 0 0 30px;
	font-size:22px;
	font-weight:bold;
}

#registration-inner  .form
{
	margin-left:30px;
	line-height:30px;
}
#replenishment-inner
{
	width:440px;
	margin: 250px auto;	
}
#replenishment-inner .header
{
	height:70px;
	width:440px;
	padding:40px 0 0 30px;
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
}

#replenishment-inner .description2
{
width: 300px;
	line-height: 16px;
}
input#scratch-number
{
	width: 218px;
	margin:5px 10px 5px 0;
	float:left;
}



.form label 
{
	display: block;
    float: left;
    width: 150px;
}
input#edit-pref
{
	width:30px;
}
input#edit-pass
{
	width:150px;
}
input#edit-phone
{
	width:112px;
}	
input#edit-submit
{
	margin-left:150px;
	width:155px;
}	
#closer
{
	background: url("../img/gui/close.gif") -5px 5px no-repeat ;
	height:24px;
	width:29px;
margin-top: -10px;
	float:right;
}
#replenishment
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: transparent;

	z-index: 10500;
	display:none;
}
#replenishment-overlay
{
    background-color: #000000;
    opacity: 0.8;
	width:100%;
	height:1500px;
    z-index: 10090;
	left: 0;
    position: absolute;
    top: 0;
 	display:none;
	FILTER:  alpha(opacity=85)
}
#replenishment-form
{
	background: white url(../img/gui/reg-header.png) 0 0 no-repeat;
}
.tb
{
	background: url("../img/gui/corner-top.png") 0 0 no-repeat ;
	width:440px;
	height:16px;

}
.bb
{
	background: url("../img/gui/corner-bottom.png") 0 0 no-repeat ;
	width:440px;
	height:16px;
}
#replenishment-inner
{
	width:440px;
	margin: 250px auto;
}
#replenishment-inner .header
{
	height:70px;
	width:440px;
	padding:40px 0 0 30px;
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
}

#replenishment-inner .description
{
	line-height: 16px;
}

#replenishment-inner  .form
{
	margin-left:30px;
	line-height:25px;
}
input#scratch-number
{
	width: 218px;
	margin:5px 10px 5px 0;
	float:left;
}
#replenishment_closer
{
	background: url("../img/gui/close.gif") -5px 5px no-repeat ;
	height:24px;
	width:29px;
	margin-top: -16px;
	float:right;
}
.warning
{
	color:red;
}
.block-warning
{
	width:204px;
	margin:10px 0;
	padding:0px 8px;
	border-left:1px solid 	#9D9D9D;
	border-right:1px solid 	#9D9D9D;
	line-height:18px;
}
#replenishment
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: transparent;

	z-index: 10500;
	display:none;	 
}
#replenishment-overlay
{
    background-color: #000000;
    opacity: 0.8;
	width:100%;
	height:1500px;
    z-index: 10090;
	left: 0;
    position: absolute;
    top: 0;
 	display:none; 
	FILTER:  alpha(opacity=85)
}
#replenishment-form
{
	background: white url(../img/gui/reg-header.png) 0 0 no-repeat;
}
.tb
{
	background: url("../img/gui/corner-top.png") 0 0 no-repeat ;
	width:440px;
	height:16px;

}
.bb
{
	background: url("../img/gui/corner-bottom.png") 0 0 no-repeat ;
	width:440px;
	height:16px;
}

#menu_for_unauth {
	display: none;
    float: right;
    margin: 0 200px 0 0;
}
#menu_for_unauth ul
{
	margin-top:0;
}
#menu_for_auth {
	display: none;
    float: right;
    margin: 0 200px 0 0;
}
#menu_for_auth ul
{
	margin-top:0;
}
.subscriber{
	display: none;
position: absolute;
left:0;
top: 73px;
font-size:14px;
color:#000;
line-height: 10px;
}
.subscriber span{
color: #ce3887;
}
.delivery h2{
font-size: 56px;
color:#e5e5e5;
}

.table_delivery{
float:left;
width:600px;
}
.th_delivery{
float:left;
width: 600px;
font-size:14px;
font-weight:500;
color: #000;
padding: 0 0 10px 0;
}
.td_delivery{
float:left;
width: 800px;
font-size:14px;
color:#cc3788;
margin: 10px 0 0 0;
padding: 0 0 10px 0;
border-bottom: 1px solid #cccccc;
}

.number{float:left;width: 310px;padding: 0 0 0 10px;}
.status{float:left;width: 280px;}

.return{
float:left;
width:100%;
}
.return a{
float:left;
display:block;
margin: 30px 0 0 0;
font-size:14px;
color:#000;
}

#support, #navbar, #navbar2, #sidebar-left ul {
font-size: 14px;
letter-spacing: 0px;
font-weight: normal;
}
#support {
width: 400px;
font-size: 12px;
padding-top: 8px;
line-height: 18px;
position:absolute;
}
#navbar {
padding-top: 82px;
padding-left: 0px;
overflow: hidden;
float:right;
}
#navbar .active {
font-weight: bold;
}
.back_to_catalog a, .back_to_catalog a:visited 
{
	padding: 10px 0 0 0  ;
	color: #9D9D9D;
	text-decoration: none;
	font-size:40px;
}

.back_to_catalog
{
	clear:both;
}
#loader, #alert {
    background-color: transparent;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10500;
}
#loader-form,
#alert-form
{
	background: white url(../img/gui/reg-header.png) 0 0 no-repeat;
}
#loader-inner,
#alert-inner
{
	width:440px;
	height:350px;
	margin: 250px auto;
}
#loader-inner,
#alert-inner
{
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color: #9D9D9D;
}
#loader-inner .form img,
#alert-inner .form img
{
	padding:10px;
}
#loader-inner .header,
#alert-inner .header
{

	height:120px;
	padding:40px 0 0 30px;
	font-size:22px;
	font-weight:bold;
	overflow:hidden;
}

.example
{
	padding-left:150px;
	color:#999;
}
#loader, #alert {
    background-color: transparent;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10500;
}
#closer, #closer2, #replenishment_closer
{
	background: url("../img/gui/close.gif") right 2px no-repeat;
	height: 24px;
	width: 62px;
	margin-top: -10px;
	float: right;
	margin-right: 3px;
}
#warning_div
{
	clear:both;
	line-height:25px;
}
#replenishment_loader img
{
	vertical-align: -3px;
}
#replenishment_loader 
{
	color:#9D9D9D;
}
.hidden
{
	display: none;
}
.description2
{
	line-height:18px;
	padding-bottom: 10px;
}
.explain
{
	margin-top: 2px;
}
#no-orders{
	font-size: 20px;
	margin: 50px 0 20px 0;
	clear: both;
	padding-top: 20px;
}
#closer, #closer2, #replenishment_closer
{
	
	cursor:pointer;
}
#alert-inner {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
}
#td_delivery a
{
	float: left;
}
#warn_pass {
    background-color: transparent;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10500;
}
#warn_pass-inner {
    margin: 250px auto;
    width: 440px;
}
#warn_pass-form {
    background: url("../img/gui/reg-header.png") no-repeat scroll 0 0 white;
}
#warn_pass_closer {
    cursor: pointer;
}
#warn_pass_closer {
background: url("../img/gui/close.gif") right 2px no-repeat;
height: 24px;
width: 62px;
margin-top: -10px;
float: right;
margin-right: 3px;
}
#warn_pass-inner .header {
    font-size: 22px;
    font-weight: bold;
    height: 70px;
    overflow: hidden;
    padding: 40px 0 0 30px;
    width: 440px;
}
#warn_pass-inner .form {
    line-height: 25px;
    margin-left: 30px;
}
#warn_pass_loader {
    color: #9D9D9D;
}
#warn_pass_loader img {
    vertical-align: -3px;
}
input#phone_to_recover {
	width: 218px;
	margin: 5px 10px 5px 0;
	float: left;
}